<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nuls.nulsswitch.mapper.TradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.nuls.nulsswitch.entity.Trade">
        <id column="tx_id" property="txId"/>
        <result column="order_id" property="orderId"/>
        <result column="address" property="address"/>
        <result column="tx_num" property="txNum"/>
        <result column="to_num" property="toNum"/>
        <result column="tx_hash" property="txHash"/>
        <result column="tx_hex" property="txHex"/>
        <result column="status" property="status"/>
        <result column="msg" property="msg"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="TradeVO" type="io.nuls.nulsswitch.web.vo.trade.TradeVO" extends="BaseResultMap">
        <result column="tx_type" property="txType"/>
        <result column="price" property="price"/>
        <result column="from_token_id" property="fromTokenId"/>
        <result column="to_token_id" property="toTokenId"/>
    </resultMap>

    <select id="queryTradeByPage" resultMap="TradeVO">
        SELECT tr.*,o.tx_type,o.price,o.from_token_id,o.to_token_id
        FROM tx_trade tr
        INNER JOIN tx_order o ON tr.order_id = o.order_id
        <where>
            <if test="orderId!=null and orderId!=''">
                and tr.order_id=#{orderId,jdbcType=VARCHAR}
            </if>
            <if test="fromTokenId!=null and fromTokenId!=''">
                and o.from_token_id=#{fromTokenId,jdbcType=INTEGER}
            </if>
            <if test="toTokenId!=null and toTokenId!=''">
                and o.to_token_id=#{toTokenId,jdbcType=INTEGER}
            </if>
            <if test="startQueryTime!=null">
                AND tr.create_time >= #{startQueryTime}
            </if>
            <if test="endQueryTime!=null">
                AND #{endQueryTime} >= tr.create_time
            </if>
            <if test="status!=null">
                AND tr.status=#{status,jdbcType=INTEGER}
            </if>
            <if test="address!=null and address!=''">
                AND tr.address=#{address,jdbcType=VARCHAR}
            </if>
            <if test="txId!=null and txId!=''">
                AND tr.tx_id=#{txId,jdbcType=VARCHAR}
            </if>
        </where>
        order by create_time desc
    </select>

    <update id="cancelOrderTrade">
        update tx_trade set status=9,update_time = now()
        <where>
            status = 0
            <if test="orderId!=null and orderId!=''">
                and order_id=#{orderId,jdbcType=VARCHAR}
            </if>
            <if test="txId!=null and txId!=''">
                and tx_id=#{txId,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <select id="queryTradeByToken" resultMap="TradeVO">
        SELECT tx.* FROM tx_trade tx
        INNER JOIN tx_order od ON od.order_id=tx.order_id
        WHERE
        (
        (od.tx_type = 1 AND od.from_token_id = #{tokenId,jdbcType=INTEGER})
        OR
        (od.tx_type = 2 AND od.to_token_id = #{tokenId,jdbcType=INTEGER})
        )
        <if test="address!=null and address!=''">
            AND tx.address = #{address,jdbcType=VARCHAR}
        </if>
        <if test="tradeDate!=null">
            AND #{tradeDate,jdbcType=TIMESTAMP} > tx.create_time
        </if>
        AND tx.status = 0
        ORDER BY create_time desc
    </select>

    <select id="queryTradeByTokenAndOrder" resultMap="TradeVO">
        SELECT tx.* FROM tx_trade tx
        INNER JOIN tx_order od ON od.order_id=tx.order_id
        WHERE
        (
        (od.tx_type = 1 AND od.to_token_id = #{tokenId,jdbcType=INTEGER})
        OR
        (od.tx_type = 2 AND od.from_token_id = #{tokenId,jdbcType=INTEGER})
        )
        <!--<if test="orderId!=null and orderId!=''">-->
            <!--AND tx.address in (select DISTINCT address from tx_trade where order_id=#{orderId,jdbcType=VARCHAR})-->
        <!--</if>-->
        <if test="orderAddress!=null and orderAddress!=''">
            AND od.address = #{orderAddress,jdbcType=VARCHAR}
            AND tx.address in (select DISTINCT address from tx_order o where o.address=#{orderAddress,jdbcType=VARCHAR})
        </if>
        <if test="orderAddress!=null and orderAddress!=''">
            AND tx.address in (select DISTINCT address from tx_trade where order_id=#{orderAddress,jdbcType=VARCHAR})
        </if>
        <if test="tradeDate!=null">
            AND #{tradeDate,jdbcType=TIMESTAMP} > tx.create_time
        </if>
        AND tx.status = 0
        ORDER BY create_time desc
    </select>
</mapper>
